[core]
    autocrlf = true
    editor = mcedit
    whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol

[user]
	name = mayorov
	email = mayorov@tutu.ru

[alias]
    co = checkout
    ci = commit
    br = branch
    st = status
    lg = log --author \"Alexander Majorov\"
    type = cat-file -t
    dump = cat-file -p
    hist = log --pretty=oneline --author \"Alexander Majorov\"
    myhist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short --author \"Alexander Majorov\"
    logv = log --author \"Alexander Majorov\" --name-only --pretty=oneline

[color]
        ui = auto
[color "branch"]
        current = yellow reverse
        local = yellow
        remote = green
[color "diff"]
        meta = yellow bold
        frag = magenta bold
        old = red bold
        new = green bold
        whitespace = red reverse
[color "status"]
        added = yellow
        changed = green
        untracked = cyan
